.home {
    width: 100%;
    padding: 10px;
    color: #fff;
}

.logo {
    top: 20px;
    left: 20px;
    position: fixed;
    position: absolute;
}

.logo h3 {
    padding: 10px;
    border-radius: 10px;
    background: #17cb47;
}

.logo h3 span {
    color: #17cb47;
    padding: 5px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #121212;
}

.search-bar {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 20px;
    margin-top: 5rem;
    align-items: center;
    border-radius: 10px;
    background: #2b373d;
    justify-content: space-between;
    box-shadow: 5px 5px 15px #000;
}

.search-inp {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    background: transparent;
}

.search-btn {
    cursor: pointer;
    font-size: 40px;
}

.result {
    z-index: 10;
}

.result h3 span {
    color: #17cb47;
}

.result-music {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
    position: relative;
    border-radius: 10px;
    background: #2b373b;
    box-shadow: 0 0 5px #fff;
}

.result-music:last-child {
    margin-bottom: 5rem;
}

.music-title {
    left: 10px;
    bottom: 10px;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    background: #2b373b;
}

.listen-btn {
    right: 10px;
    bottom: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    border-radius: 10px;
    background: #0f111a;
    box-shadow: 0 0 5px #121212;
}

.music-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.result {
    padding: 10px;
    margin-top: 3rem;
}

.selected-video {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #0f111a;
    position: fixed; padding: 20px;
}

.about-video {
    width: 100%;
    margin-top: 1rem;
}

.channel {
    padding: 10px;
    background: #000;
    border-radius: 10px;
}

.created {
    padding: 10px;
    margin-top: 0.5rem;
    background: #000;
    border-radius: 10px;
}

.note {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-home {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    align-items: center;
    background: #2b373b;
    justify-content: center;
    position: fixed; display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.back-home-icon {
    padding: 10px;
    font-size: 40px;
}

.more {
    margin-top: 2rem;
}

.note img {
    width: 300px;
    height: 300px;
}